@font-face {
  font-family: "thinFont";
  src: url("./fonts/Roboto-Thin.ttf");
}

body {
  margin: 0;
  font-family: "thinFont";
  font-size: 2vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header {
  display: flex;
  height: 15vh;
  padding: 1vh 1vw 1vh 1vw;
  justify-content: space-between;
  align-items: center;
  background: rgb(53, 87, 64);
}

#title {
  font-size: 4vw;
}

.center {
  height: 83vh;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  background: rgb(55, 177, 96);
}

#card {
  width: 6.5vw;
}

#cardSmall {
  width: 5vw;
}

.shadow {
  box-shadow: 0vw 0.5vw 1vw rgb(23, 75, 20),
    0.5vw 0.5vw 10vw rgb(23, 75, 20, 0.7);
}

#gameInfo {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

#gameText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#previousTurnRow {
  height: 9.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#selectRow {
  height: 7.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#playerRow {
  display: flex;
  justify-content: space-between;
}

#gameButtons {
  display: flex;
  flex-direction: column;
  width: 15.5vw;
}

#gameButton {
  height: 4.75vw;
  font-size: 3.5vh;
}

.headerForm {
  width: 18vw;
  font-size: 2vw;
}

#playerDisplay {
  height: 80vh;
  padding: 1.5vh 0 1.5vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(55, 177, 96);
}

#landscape {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgb(55, 177, 96);
}

@media only screen and (orientation: portrait) {
  #landscape {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
